@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@media only screen and (max-width:768) {
  #mainSearch {
    display: none !important;
  }
}

.bg-orange-custom {
  background-color: #ebcea4;
}

.bg-orange-custom-100{
  background-color: #d68100;
}
.text-red-custom {
  color: #805d5d
}

.border-orange-custom {
  border-color: #d68100;
}

.h-98 {
  height: 28rem
}

.h-102{
  height: 32rem
}

.h-104{
  height: 34rem
}

.w-98 {
  width: 28rem
}

.w-102{
  width: 32rem
}

.w-104{
  width: 34rem
}

::-webkit-scrollbar {
  width: 0 !important;
}

/* background  */