@import "tailwindcss/base";
@import "tailwindcss/components";
/* @import 'tailwindcss/utilities'; */
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media only screen and (max-width: 768) {
  #mainSearch {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:h-52 {
    height: 13rem;
  }

  .md\:pt-52 {
    padding-top: 13rem;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:w-52 {
    width: 13rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:w-96 {
    width: 24rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.absolute {
  position: absolute;
}

.bg-orange-custom {
  background-color: #ebcea4;
}

.bg-white{
  background-color: #fff;
}

.border-1 {
  border-width: 1px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-black {
  border: 1px solid black;
}

.border-r {
  border-right-width: 1px;
}

.border-orange-custom {
  border-color: #d68100;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.duration-700 {
  transition-duration: 0.7s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.float-end{
  float: right;
}

.font-bold {
  font-weight: 700;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.h-12 {
  height: 3rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.hidden {
  display: none;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.items-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.left-0 {
  left: 0;
}

.m-3 {
  margin: 0.75rem;
}

.mt-20 {
  margin-top: 5rem;
}

.-mx-3 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-5 {
  padding: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.relative {
  position: relative;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

.text-red-custom {
  color: #805d5d;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;

}

.text-white {
  color: #fff;
} 

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.top-0 {
  top: 0;
}

.w-0 {
  width: 0;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/6 {
  width: 16.666667%;
}

.w-2\/4 {
  width: 50%;
}

.w-40 {
  width: 10rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.z-10 {
  z-index: 10;
}

.-z-10 {
  z-index: -10;
}
